	<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Booking Ride</title>

		<script type="text/javascript" src="js/jquery.min.js"></script>
   <script src="js/materialize.min.js"></script>
   
    <!--Link for the favicons on the title-->
    <link rel="shortcut icon" href="#" />
    <!-- google font icons --->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <!-- Compiled and minified CSS for materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	
		 <script src="js/jquery.min.js"></script>
		 <script src="js/materialize.min.js"></script>
		 <link rel="stylesheet" href="css/materialize.min.css">
	
		 <style>
			body{ background:pink}
		  </style>
		 
	</head>
	<body>
		<nav>
			<div class="nav-wrapper background black">
			  <a href="#!" class="brand-logo center"></a>
	 		 <!--------- sidenav Trigger ------->
			  <a href="/" data-target="slide-out" class="sidenav-trigger left show-on-large"><i class="material-icons">menu</i></a>
			  <ul class="left hide-on-med-and-down right">
				<li><a href="/">Menu</a></li>
				<li><a href="gallery">Gallery</a></li>
				<li class="active" id="contact_index"><a href="/">Contact Us</a></li>
				<li><a href="#" class="tooltipped btn-floating btn-small white" data-position="bottom" data-tooltip="Instagram"> 
				  <i class="fab fa-instagram"></i>
				</a></li>
				<li><a href="#" class="tooltipped waves-effect btn-floating btn-small social fa-facebook pink" data-position="bottom" data-tooltip="Facebook">
				  <i class="fab fa-facebook"></i>
				</a></li>
				<li><a href="#" class=" tooltipped waves-effect btn-small btn-floating social twitter blue" data-position="bottom" data-tooltip="Twitter">
				  <i class="fab fa-twitter"></i>
				</a></li>
	  
			  </ul>
	  
								 
			</div>
		  </nav>
		
		
		
		
	
		<!-- Image Gallery -->
	
		<div class="container center">
			
		  <h3>DL-2019- JAVA Application Developer FAMILY</h3>
	
		  <div class="row card">
			  
			  <div class="col s12 m6 l4">
		 		<img src="../picture/birthday.jpg" class="materialboxed responsive-img card">
			  </div>

			  <div class="col s12 m6 l4">
				  <img src="../picture/20200204_105942.jpg" class="materialboxed responsive-img card">
			  </div>

			  <div class="col s12 m6 l4">
				  <img src="../picture/http.jpg" class="materialboxed responsive-img card">
			  </div>
	
		  
			  <div class="col s12 m6 l4">
				  <img src="../picture/20200207_133526.jpg" class="materialboxed responsive-img card">
			  </div>

			  <div class="col s12 m6 l4">
				<img src="../picture/20200207_133443.jpg" class="materialboxed responsive-img card">
				</div>

			  <div class="col s12 m6 l4">
				  <img src="../picture/n9.jpg" class="materialboxed responsive-img card">
			  </div>

			  <div class="col s12 m6 l4">
				<img src="../picture/20200207_133409.jpg" class="materialboxed responsive-img card">
			  </div>
			  			
				<div class="col s12 m6 l4">
					<img src="../picture/n1.jpg" class="materialboxed responsive-img card">
				</div>

				<div class="col s12 m6 l4">
					<img src="../picture/n11.jpg" class="materialboxed responsive-img card">
				</div>

			
		   </div>

	
	  </div>

	  
<!-- footer -->
<footer class="page-footer grey darken-3">
	<div class="container">
		<div class="row">
		  <div class="col l6 s12">
			<h5>About Me</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
		  </div>
  
		 <div class="col l4 offset-l2 s12">
			<h5 class="white-text">Connect</h5>
			<ul class="social-link">
			  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/demboss01" target="_blank">Facebook</a></li>
			  <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
			  <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li>
			  <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
		  </ul>
		 </div>
	  
		</div>
	 </div>
	<div class="footer-copyright grey darken-4">
      <div class="container center-align">&copy; 2020 Case Study by <a red darken-3>Mamadou</a>  - Booking Ride website </div>
    </div>
  </footer>
	

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>       

<script>
	$(document).ready(function(){
		$('.materialboxed').materialbox();
	});
	$('.tooltipped').tooltip();
</script>
	
 	
 </body>
 </html>