<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <!--Link for the favicons on the title-->
    <link rel="shortcut icon" href="#" />
    
<!-- google font icons --->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
  <!-- Compiled and minified CSS for materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <style>
         main {
padding-left: 300px;
}

@media only screen and (max-width : 992px) {
header, main, footer {
 padding-left: 0;
}
}
  </style>
</head>
<body>

  <nav>
    <div class="nav-wrapper background black">
      <a href="#!" class="brand-logo center"></a>
<!--------- sidenav Trigger ------->
      <a href="#" data-target="slide-out" class="sidenav-trigger left show-on-large">
        <ul class="left hide-on-med-and-down right">
        <li><a href="/">Home</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li class="active"><a href="/">Contact Us</a></li>
        <li><a href="#" class="tooltipped btn-floating btn-small white" data-position="bottom" data-tooltip="Instagram"> 
          <i class="fab fa-instagram"></i>
        </a></li>
        <li><a href="#" class="tooltipped waves-effect btn-floating btn-small blue social fa-facebook" data-position="bottom" data-tooltip="Facebook">
          <i class="fab fa-facebook"></i>
        </a></li>
        <li><a href="#" class="tooltipped waves-effect waves-light btn-small btn-floating pink social twitter" data-position="bottom" data-tooltip="Twitter">
          <i class="fab fa-twitter"></i>
        </a></li>

      </ul>
                         
    </div>
  </nav>
<!--sidenav content-->
  <!-- <ul id="slide-out " class="sidenav sidenav-fixed white ">
    <li><div class="user-view">
      <div class="background grey darken-3">
        <img src="#">
      </div>
      <a href="#user"><img class="circle" src="../picture/JMH06834.jpg"></a>
      <a href="#name"><span class="white-text name">Mamadou Dembele</span></a> 
      <a href="#email"><span class="white-text email">mamadou@gmail.com</span></a>
    </div></li>
    <li><a href="registration.html"><i class="material-icons"> my_location</i>My location</a></li>
    <li><a href="#!"><i class="material-icons">share</i>Share my location</a></li>
    <li><a href="#!"><i class="material-icons">location_on</i>Current ride</a></li>
    <li><a href="#!"><i class="material-icons">share</i>My rides</a></li>
    <li><a href="contact.html"><i class="material-icons">share</i>Contact us</a></li>
          <li><a class="waves-effect " href="#!">Logout</a></li>
  </ul> -->
<!-------------------- Content part started ------------------->


<!-- contact form -->

<!--Vehicle Registration
-->
<section class="section container scrollspy" id="">
  <div class="row">

 <h1 class=" btn blue white-text text-darken-4" id="contact">List TRIPS</h1>
     
        <!--Driver registration-->

    <div class=" card-panel center align col s12 l12">
    
   
    
      <form action="#" th:action="@{/driver_registration}" th:object="${driver}"
                                                                       method="post">
    
        

        <table>
      <tr>
       	<th>ID </th>
        <th>DATE & TIME </th>
        <th>PICKUP</th>
        <th>DROPOFF</th>
        <th>DISTANCE</th>
        <th>FARE</th>
      </tr>
      <tr th:each="trip: ${trips}" >
      	<td th:text="${trip.tripid}"> </td>
        <td th:text="${trip.tripdate}"> </td>
        <td th:text="${trip.adressPickuplocat}"> </td>
        <td th:text="${trip.adressdropOfflocat}"> </td>
        <td th:text="${trip.distance}"> </td>
        <td th:text="${trip.Proposfare}"> </td>
       
       
      </tr>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Return to home</a>
      <a href="../current_ride.html" | th:href="@{/current_ride}">My next trip</a>
    </p>
        
      </form>
    </div>
  </div>
</section>

<!-- footer -->
<footer class="page-footer grey darken-3">
  <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>About Me</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
        </div>

       <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect</h5>
          <ul class="social-link">
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/demboss01" target="_blank">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
        </ul>
       </div>
    
      </div>
   </div>
   <div class="footer-copyright grey darken-4">
      <div class="container center-align">&copy; 2020 Case Study by <a red darken-3>Mamadou</a>  - Booking Ride website </div>
    </div>
</footer>

<!-------------------- Content part finished ------------------->
<!--jQUERY-->


<script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>       
   
   
<!-- Initialize SIdenav -->
   <script>
$(document).ready(function(){
  $('.sidenav').sidenav();
});
$('.tooltipped').tooltip();

$('.datepicker').datepicker({
        disableWeekends: false,
        yearRange: 1
});
//the function M.updateTextFields(); 
//to reinitialize all the Materialize labels on the page if you are dynamically adding inputs.
$(document).ready(function() {
    M.updateTextFields();
  });
        

   </script>
</html>